<div style="background-color: #0E0E31; width: 600px; padding: 20px; margin: 20px auto; ">
    <h2 style="margin-bottom: 20px; color: #ffffff;">Resumen de la compra</h2>
    <hr class="solid">
    <br>


    <div style="margin-bottom: 20px;">
        <h3 style="color: #6792EC; margin-bottom: 10px;">Compraste:</h3>
        <p style="color: #ffffff;">${peliculas}</p>
    </div>
    <br>

    <div style="margin-bottom: 20px;">
        <h3 style="color: #6792EC; margin-bottom: 10px;">Fecha de la compra:</h3>
        <p style="color: #ffffff;">${date}</p>
    </div>

    <br>
    <div style="margin-bottom: 20px;">
        <h3 style="color: #6792EC; margin-bottom: 10px;">Total del carrito:</h3>
        <p style="color: #ffffff;">$ <strong>${total}</strong></p>
    </div>

    <div style="margin-bottom: 20px;">
        <h3 style="color: #6792EC; margin-bottom: 10px;">Monto final abonado:</h3>
        <p style="color: #ffffff;">$ <strong>${totalWithDiscount}</strong></p>
    </div>


    <br>
    <hr class="solid">
    <div style="margin-bottom: 20px;">
        <h3 style="color: #ffffff; margin-bottom: 10px;">Gracias por su compra!</h3>
    </div>

    <p style="color: #989898;padding-top: 20px;">Peliculando - G&G Software</strong></p>
</div>

